@page "/"
@using System.Text.Json
@using System.Text.RegularExpressions
@using Modulhandbuch.Frontend.Components
@using global::Modulhandbuch.Shared
@using Microsoft.AspNetCore.WebUtilities
@using System.ComponentModel
@using System.Reflection
@using Module = Modulhandbuch.Shared.Module
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Mobiles Modulhandbuch</PageTitle>

<h1>Mobiles Modulhandbuch</h1>

<p>Bachelormodule: <InputCheckbox @bind-Value="@Bachelor" /></p>
<p>Mastermodule: <InputCheckbox @bind-Value="@Master" /></p>

<InputText @bind-Value="@Search" @oninput="x => Search = x.Value.ToString()" placeholder="Suchtext (unterstützt Regex!)"></InputText>

<InputText @bind-Value="@Credits" placeholder="Leistungspunkte"></InputText>

<InputText @bind-Value="@InId" placeholder="z.B. INFO"></InputText>

<InputSelect @bind-Value="@Turn">
    <option value="">Alle</option>
    @foreach (var turnus in Enum.GetValues(typeof(Turnus))) {
        <option value="@turnus">@TurnusToString((Turnus)turnus)</option>
    }
</InputSelect>

@if (_bachelorModules == null || _masterModules == null) {
    <p><em>Laden...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Leistungspunkte</th>
                <th>Turnus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in GetDisplayedModules()) {
                <tr>
                    <td><Tooltip Text="@module.Description">@module.Name</Tooltip></td>
                    <td>@module.Id</td>
                    <td>@module.Credits LP</td>
                    <td>@TurnusToString(module.Turnus)</td>
                </tr>
            }
        </tbody>
    </table>
}

<div style="text-align: center">
    <p style="font-size: 12px; margin-bottom: 2px">Es besteht keinerlei Verbindung zum KIT.</p>
    <p style="font-size: 10px; margin-bottom: 2px">Alle Angaben ohne Gewehr.</p>
    <p style="font-size: 8px; margin-bottom: 2px">Zu Risiken und Nebenwirkungen lesen Sie das README und fragen Sie Ihren Maintainer oder Contributor.</p>
</div>

@code {
    public bool Bachelor { get; set; } = true;
    public bool Master { get; set; } = true;

    public string Search { get; set; } = "";
    public string Credits { get; set; } = "";

    public string InId { get; set; } = "";

    public Turnus? Turn { get; set; }

    private Module[]? _bachelorModules;
    private Module[]? _masterModules;

    private readonly Dictionary<PropertyInfo, object?> _defaults = new();

    protected override void OnInitialized() {
        var dic = QueryHelpers.ParseQuery(NavManager.ToAbsoluteUri(NavManager.Uri).Query);
        foreach (var p in GetType().GetProperties()) {
            _defaults.Add(p, p.GetValue(this));

            if (dic.TryGetValue(p.Name, out var val) && val.Count == 1) {
                var converter = TypeDescriptor.GetConverter(p.PropertyType);
                if (!converter.IsValid(val[0])) {
                    continue;
                }

                p.SetValue(this, converter.ConvertFromString(val[0]));
            }
        }
    }

    protected override void OnAfterRender(bool firstRender) {
        var dic = new Dictionary<string, string>();
        foreach (var p in GetType().GetProperties()) {
            if (!p.GetValue(this)?.Equals(_defaults[p]) ?? _defaults[p] != null) {
                dic.Add(p.Name.ToLowerInvariant(), p.GetValue(this)?.ToString() ?? "");
            }
        }

        var newUri = QueryHelpers.AddQueryString(NavManager.ToAbsoluteUri(NavManager.Uri).AbsolutePath, dic);
        NavManager.NavigateTo(newUri, false, true);
    }

    private IEnumerable<Module> GetDisplayedModules() {
        var enumerable = Enumerable.Empty<Module>();
        if (Bachelor) {
            enumerable = enumerable.Concat(_bachelorModules);
        }
        if (Master) {
            enumerable = enumerable.Concat(_masterModules);
        }

        if (int.TryParse(Credits, out var creditValue)) {
            enumerable = enumerable.Where(x => x.Credits == creditValue);
        }

        if (!string.IsNullOrEmpty(InId)) {
            enumerable = enumerable.Where(x => x.Id.Contains(InId));
        }

        if (!string.IsNullOrEmpty(Search)) {
            var regex = new Regex(Search, RegexOptions.IgnoreCase);
            enumerable = enumerable.Where(x => regex.IsMatch(x.Name));
        }

        if (Turn.HasValue) {
            enumerable = enumerable.Where(x => x.Turnus == Turn.Value);
        }

        return enumerable.DistinctBy(x => x.Id);
    }

    protected override async Task OnInitializedAsync() {
        var data = await Task.WhenAll(new[] { "bachelor.json", "master.json" }
            .Select(async x => await JsonSerializer.DeserializeAsync<Module[]>(await Http.GetStreamAsync(x), SerializerOptions.Default)));
        _bachelorModules = data[0];
        _masterModules = data[1];
    }

    private static string TurnusToString(Turnus turnus)
        => turnus switch {
            Turnus.EverySemester => "Jedes Semester",
            Turnus.EverySummerSemester => "Jedes Sommersemester",
            Turnus.EveryWinterSemester => "Jedes Wintersemester",
            Turnus.Irregular => "Unregelmäßig",
            Turnus.OneTime => "Einmalig",
            Turnus.Yearly => "Jährlich",
            Turnus.SeeNotes => "Siehe Notizen",
        };
}
